*.iml
.gradle
/local.properties
.idea/workspace.xml
.idea/tasks.xml
/.idea/caches
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/.name
/.idea/compiler.xml
/.idea/kotlinc.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/migrations.xml
/.idea/deploymentTargetSelector.xml
/.idea/inspectionProfiles/Project_Default.xml
# Gradle:
.idea/gradle.xml
.idea/libraries

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
